
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/Chart.js")

<h2>Stock Level</h2>

<canvas id="myChart" width="100%" height="40"></canvas>
<script>
    $.get("/Admin/Stock/Chart", function (response) {
    var ctx = document.getElementById("myChart");
    var data = {
        labels: response[2],
        datasets: [response[0], response[1]]
    }
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
});
</script>